src/autoyast-rnc/sap-media.rnc

default namespace = "http://www.suse.com/1.0/yast2ns"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace config = "http://www.suse.com/1.0/configns"

sap-media = 
	element sap-media {
		products?
	}

products = 
	element products {
		LIST,
		product+
	}

product =
	element product {
		element count { INTEGER }? &
		element to-copy    { BOOLEAN }? &
		LIST,
		medias+
	}

medias =
	element media {
		element url  { text }? &
		element type { text }?
	}

